canvas {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}



.stage-container {
  float: right;
}

.stage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 600px;
  width: 300px;
  border: 2px solid black;
  margin-bottom: 12px;
}

/* TODO: Add a sound confirmation that you've entered an image into the dropzone */
/* .draggable.drop-activated {
  background: pink;
} */
